@media(max-width: 1600px) and (min-width: 1500px) {
    .payment-banner .banner-content {
        min-height: 45vh;
    }
}

@media(max-width: 1499px) and (min-width: 1200px) {
    .payment-banner .banner-content {
        min-height: 40vh;
    }
}

@media(max-width: 1300px) {
    .single-security-options.personalize-invitation-part .avatar-preview {
        width: 100px;
        height: 100px;
    }
    .heading-btns ul li a {
        font-size: 13px;
    }
}

@media(max-width: 1266px) {
    .signnow-part .dots-right,
    .signnow-part .dots-left {
        display: none;
    }
}

@media(max-width: 1200px) {
    .dashboard3 .content-header {
        align-items: normal;
        flex-direction: column;
    }
    .dashboard3 .content-header .heading-btns {
        justify-content: space-between;
    }
}

@media(max-width: 1024px) {
    .navbar-expand-md .navbar-toggler {
        display: block;
    }
    /* .collapse:not(.show) {
display: none;
} */
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-collapse.collapsing,
    .navbar-collapse.collapse.show {
        display: block !important;
        width: 100%;
        height: auto;
        float: left;
    }
    .navbar {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: .5rem 1rem;
        width: 100%;
    }
    .nav-item {
        display: block !important;
    }
    .navbar-expand-md .navbar-nav {
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .start-header {
        padding: 0px 0;
    }
    .nav-link {
        padding-left: 0px !important;
    }
    .login_signup .nav-item {
        margin-bottom: 10px;
    }
    .navbar-nav.ml-auto.login_signup {
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .banner-content {
        margin: 100px auto 0 auto;
    }
    .desktop-img img {
        max-width: 60%;
    }
}

@media(min-width: 992px) {}

@media(max-width: 991px) {
    .dashboard3 .content-header .heading-btns {
        align-items: normal;
        flex-direction: column;
        display: block;
    }
    .heading-btns ul {
        width: calc(100% - 110px);
        float: left;
        margin-right: 0px;
    }
    .heading-btns ul+.position-relative {
        max-width: 120px;
        float: right;
    }
    .heading-btns .input-group-joined.input-group-solid {
        max-width: 100%;
        margin-left: 0px !important;
        margin-top: 15px;
        float: left;
    }
    .shareable-links ul {
        width: 100%;
    }
}

@media(min-width: 768px) {}

@media(max-width: 767px) {
    .dropdown-menu {
        padding: 0 !important;
        background-color: transparent;
        box-shadow: none;
        transition: all 200ms linear;
    }
    .dropdown-toggle[aria-expanded="true"]+.dropdown-menu {
        margin-top: 10px !important;
        margin-bottom: 20px !important;
    }
    body.dark .nav-item::before {
        background-color: #fff;
    }
    body.dark .dropdown-toggle::after {
        background-color: #fff;
    }
    body.dark .dropdown-menu {
        background-color: transparent;
        box-shadow: none;
    }
    .banner-content h1 {
        font-size: 40px;
    }
    .main-banner {
        background-position: bottom !important;
    }
    .countdown-part {
        background: #ffa155 !important;
    }
    .stats {
        margin-top: 15px;
    }
    .drive-icons {
        max-width: 100%;
    }
    .drive-icons li.nav-item {
        width: 100%;
        display: inline-block !important;
        max-width: 82px;
    }
    .upload-doc-tabs .tab-content {
        width: 100%;
        padding-left: 0;
    }
    #duck2 {
        border-radius: 15px;
        padding: 20px;
    }
    .brows-btn {
        white-space: normal;
    }
    .dropzone-box h4 {
        padding: 30px 0px;
        font-size: 15px;
    }
    .signnow-part {
        padding: 60px 10px 0px 10px;
    }
    .signnow-heading h3 {
        font-size: 32px;
    }
    .documents-upload ul li a.nav-link {
        margin-bottom: 15px;
    }
    .account-img {
        display: none;
    }
    .account-popup form {
        padding: 25px!important;
    }
    .login-popup .btn {
        margin-bottom: 15px;
    }
    .account-popup .modal-dialog {
        margin: 0px;
        border-radius: 0px;
    }
    #sidebarCollapse {
        display: block !important;
    }
    #sidebarCollapse i {
        color: #fff;
    }
    .dashboard3.sidebar-mini .sidebar-menu li a span {
        display: none;
    }
    .dashboard3.sidebar-mini .main-sidebar {
        width: 40px;
        display: none;
    }
    .dashboard3.sidebar-mini.sidebar-open .main-sidebar {
        display: block;
    }
    .dashboard3.sidebar-mini.sidebar-open .main-sidebar .sidebar-menu .header {
        display: none;
    }
    .dashboard3.sidebar-mini.sticky .content-wrapper {
        margin-left: 205px !important;
    }
    .single-document {
        float: left;
        display: block;
    }
    .single-document .doc-img {
        float: left;
    }
    .single-document .doc-content {
        width: calc(100% - 75px);
        float: right;
    }
    .single-document .doc-date-and-dismiss {
        max-width: 100%;
        padding-top: 15px;
    }
    .single-document.free-trial-document {
        padding: 10px;
        overflow: hidden;
    }
    .single-document.free-trial-document .doc-content {
        width: calc(100% - 85px);
    }
    .free-trial-document .doc-img {
        border-radius: 6px;
    }
    .single-document.free-trial-document .doc-date-and-dismiss {
        width: 100%;
        padding: 10px;
    }
    .content-wrapper {
        min-height: 100%;
        float: left;
    }
    .main-footer {
        float: left;
        width: 100%;
    }
    .dashboard3 .content-header .heading-btns {
        padding-top: 15px;
    }
}

@media(max-width: 640px) {
    .documents-upload .nav-link {
        padding: 5px 15px !important;
    }
    .documents-upload ul li a.nav-link {
        font-size: 15px;
    }
    .drives-section .card h3 {
        font-size: 26px;
    }
    .drives-section .card a {
        font-size: 16px;
    }
    .drives-section .card a i {
        font-size: 14px;
    }
    .solve-pdf-problems h2 {
        font-size: 32px;
    }
    .solve-pdf-problems .nav-link {
        padding: 15px 15px !important;
    }
    .signnow-heading h3 {
        font-size: 24px;
    }
    .dropzone .dz-message {
        font-size: 18px;
    }
    .drives-section .card {
        padding: 20px;
    }
}

@media(max-width:575px) {
    .banner-content h1 {
        font-size: 30px;
    }
    .stats {
        justify-content: left;
    }
    .single-document .doc-content h5 {
        font-size: 13px;
    }
    .single-document .doc-content .tags ul li {
        padding: 0px;
    }
    .addnew-dropdown {
        min-width: 360px;
    }
    .heading-btns .shareable-links ul li a {
        padding: 3px !important;
        font-size: 12px;
    }
}

@media(max-width: 480px) {
    .white-bg-nav .navbar-brand {
        min-width: 150px;
    }
    .addnew-dropdown {
        min-width: 290px;
        padding: 10px;
    }
}