body {
    background-color: #fff;
}

canvas, .canvas-container {
    -webkit-box-shadow: 3px 1px 5px 2px #010204;
    -moz-box-shadow: 3px 1px 5px 2px #010204;
    box-shadow: 3px 1px 5px 2px #010204;
}

.toolbar {
    width: 100%;
    background-color: #fff;
    height: 105px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: block;
}

#pdf-container {
    margin-top: 105px;
    padding-left: 10px;
    text-align: center;
    background: #7f7f7f;
    padding-top: 20px;
}

button:focus {
    outline: 0;
}

.toolbar .tool {
    display: inline-block;
    color: #000;
    height: auto;
    border: 1px solid lightgray;
    margin-right: 4px;
}

.toolbar .tool label,
.toolbar .tool select,
.toolbar .tool input {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 0;

}

.toolbar .tool input {
    width: 50px;
}

.toolbar .tool .color-tool {
    height: 25px;
    width: 25px;
    border-radius: 25px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    vertical-align: bottom;
}

.toolbar .tool .color-tool.active {
    -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
}

/* .toolbar .tool:nth-last-child(1) {
    float: right;
} */

.toolbar .tool .tool-button {
    border: rgba(0, 0, 0, 0.15);
    cursor: pointer;
    background: #fff;
}

.toolbar .tool .tool-button:hover,
.toolbar .tool .tool-button.active {
    background-color: rgba(0, 0, 0, 0.15);
    border-color: rgba(0, 0, 0, 0.15);
}
.heading h4{
    color: #dc3545;
}
.toolbar .logo {
    color: #e48778;
    width: 160px;
    position: absolute;
    padding-top: 30px;
    padding-left: 10px;
    border-right: 1px solid lightgray;
    padding-bottom: 34px;
}
.logo h3{
    color: darksalmon;
}
.toolbar-top {
    width: auto;
    margin-left: 180px;
    padding-top: 15px;
}
.toolbar-bottom {
    margin-left: 180px;
    width: auto;
    padding-top: 10px;
    border-top: 1px solid lightgray;
}
button.tool-button {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.orientation_group img{
    cursor: pointer;
}
.orientation_group img.active{
    border: 2px solid #eac300 !important;
}